---
title: Commercial and Residential Portfolio
id: portfolio
layout: portfolio
commercial_portfolio:
- "/uploads/commercial-02.jpg"
- "/uploads/commercial-01.jpg"
- "/uploads/commercial-03.jpg"
residential_portfolio:
- "/uploads/IMG_0298.jpeg"
- "/uploads/IMG_0357.jpeg"
- "/uploads/IMG_0297.jpeg"
- "/uploads/residential-08.jpg"
- "/uploads/residential-07.jpg"
- "/uploads/residential-02.jpg"
- "/uploads/residential-01.jpg"
- "/uploads/residential-06.jpg"
- "/uploads/residential-03.jpg"
- "/uploads/residential-05.jpg"
- "/uploads/residential-04.jpg"

---
<h1>Commercial Portfolio</h1>

<p>Offering a wide range of landscape maintenance programs for the commercial user, Compass Lawn &amp; Landscapes can tailor a program that will fulfill your needs and stay within your budget. Our experienced and uniformed crews are able to keep your property looking polished and professinal no matter what the season!</p>

<div class="thumbnails">
  {% for image in page.commercial_portfolio %}
  <div class="thumbnail">
    <a href="{{ image }}" data-featherlight="image" class="picture" style="background-image:url('{{ image }}');"></a>
  </div>
  {% endfor %}
</div>



<h1>Residential Portfolio</h1>

<p>Our residential services encompass all landscape services and installations from weekly mowing to a major renovation or new construction. Please contact us to tailor make a plan that fits your needs and will maintain your property from season to season.</p>

<div class="thumbnails">
  {% for image in page.residential_portfolio %}
  <div class="thumbnail">
    <a href="{{ image }}" data-featherlight="image" class="picture" style="background-image:url('{{ image }}');"></a>
  </div>
  {% endfor %}
</div>