<div class="sidebar--boxed">
  <div id="" class="vcard">
      <div class="org">Compass Lawn &amp; Landscapes, LLC</div>
      <div class="adr">
      <div class="street-address">PO Box 255</div>
      <span class="locality">Clarendon Hills</span>, 
      <span class="region">IL</span>
      <span class="postal-code">60514</span>
     </div>
     <div class="tel">630.642.0191</div>
     <div class="email"><a class="email" href="mailto:info@compasslawn.com">info@compasslawn.com</a></div>
  </div>
</div>