<div class="sidebar">
  <h3>Tips &amp; Tricks</h3>

  <p>Fall is a great time to plant some of those shrubs, trees, and perennials you've had your eye on.  Freshen things up with a fall cleanup, spade edging of planting beds, and a fresh layer of our premium double shredded hardwood mulch. Adjust your mower blade height to 2.5". Fall is also a great time to de-thatch/aerate and overseed your lawn with our high quality seed. Cut back perennials for winter, unless they have a winter interest. Apply winter protection to your roses and perennials.Remember to plant your spring bulbs. To add color for the fall, plant mums and pansies. There are a variety of colors that help enhance your home's curb appeal.</p>

  <p><a href="/tips">Find out about all of our tips and tricks here</a></p>
</div>