.header
  +center(1000px)
  position: relative
  color: $white-alt

  background-color: $brown
  height: 3em
  overflow: hidden
  transition: height 0.2s

  a,
  a:active,
  a:visited,
  a:hover
    color: $white

  a:hover
    color: $green-alt

  +bp($bp-mama-bear)
    height: auto
    background-image: url('/images/logo--big.png') //280x261@1x
    background-repeat: no-repeat
    background-position: center -100px 
    background-size: 221px 206px

  +bp($bp-papa-bear)
    background-position: center -90px 
    background-size: 280px 261px

.is-open
  height: 17em

  +bp($bp-mama-bear)
    height: auto


// Logo/Toggle Container
// =====================================

.header__container
  position: relative


// Logo
// =====================================

.header__logo-image
  height: 48px

  +bp($bp-mama-bear)
    display: none

.header__logo-link
  +bp($bp-mama-bear)
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    margin: auto
    width: 221px
    height: 6em

  +bp($bp-papa-bear)
    width: 280px
    height: 9em

// Menu Button
// =====================================

.header__toggle
  position: absolute
  top: 0
  right: 0

  a
    display: inline-block
    font-size: 1em
    padding: 1em
    background-color: $green
    color: $white
    line-height: 1
    text-transform: uppercase
    transition: background-color 0.2s
    outline: none

    .is-open &
      border-bottom-left-radius: 0.5em
      border-bottom-right-radius: 0.5em

    &:hover
      background-color: $green-alt
      color: $white

  +bp($bp-mama-bear)
    display: none




// Nav
// =====================================

.header__nav
  +bp($bp-mama-bear)
    margin-top: 6em

  +bp($bp-papa-bear)
    margin-top: 5em
    margin-bottom: 2.5em




// Contact and Phone Buttons
// =====================================

.header__contact a,
.header__phone a
  display: block
  padding: 0.5em
  border-bottom: 1px dotted $white-alt
  transition: all 0.2s

  +bp($bp-mama-bear)
    display: inline-block
    position: absolute
    top: 0
    padding: 0.5em 1em
    background: $green
    border-bottom: none
    border-bottom-left-radius: 0.5em
    border-bottom-right-radius: 0.5em

    &:hover
      color: $white
      background: $green-alt

.header__contact a
  +bp($bp-mama-bear)
    right: 0

.header__phone a
  border-bottom: none

  span
    color: $white-alt

  &:hover span
    color: $white-alt

  +bp($bp-mama-bear)
    span
      display: none

  +bp($bp-papa-bear)
    span
      display: inline


